In [18]:
#dependencies and set-up
import requests
import pandas as pd
from config import api_key

In [140]:
#import csv
df = pd.read_csv("Resources/aisd_meal_reimbursement_years_15_19.csv")

##### After testing a few elementary names via the Geocode api request, EL is not registering as elementary. I'll now need to replace all EL with ELEMENTARY within SiteName column.

In [141]:
elementary_schools = df[df["SiteName"].str.contains("EL")]

elmtry_list = elementary_schools["SiteName"].unique().tolist()
elmtry_list

['ALLISON EL',
 'ANDREWS EL',
 'BALDWIN ELEMENTARY',
 'BARANOFF EL',
 'BARRINGTON EL',
 'BARTON HILLS EL',
 'BECKER EL',
 'BLACKSHEAR EL',
 'BLANTON EL',
 'BLAZIER ELEMENTARY SCHOOL',
 'BOONE EL',
 'BRENTWOOD EL',
 'BROOKE EL',
 'BRYKER WOODS EL',
 'CAMPBELL EL',
 'CASEY EL',
 'CASIS EL',
 'CLAYTON EL',
 'COOK EL',
 'COWAN ELEMENTARY',
 'CUNNINGHAM EL',
 'DAVIS EL',
 'DAWSON EL',
 'DOSS EL',
 'GALINDO EL',
 'GOVALLE EL',
 'GRAHAM EL',
 'GULLETT EL',
 'HARRIS EL',
 'HART ELEMENTARY',
 'HIGHLAND PARK EL',
 'HILL EL',
 'HOUSTON EL',
 'JORDAN EL',
 'JOSLIN EL',
 'KIKER EL',
 'KOCUREK EL',
 'LANGFORD EL',
 'LEE EL',
 'LINDER EL',
 'MAPLEWOOD EL',
 'MATHEWS EL',
 'MCBEE ELEMENTARY',
 'MENCHACA EL',
 'METZ EL',
 'MILLS ELEMENTARY',
 'NORMAN-SIMS EL',
 'OAK HILL EL',
 'OAK SPRINGS EL',
 'ODOM EL',
 'ORTEGA EL',
 'OVERTON ELEMENTARY',
 'PADRON EL',
 'PALM EL',
 'PATTON EL',
 'PEASE EL',
 'PECAN SPRINGS EL',
 'PEREZ EL',
 'PICKLE ELEMENTARY',
 'PILLOW EL',
 'PLEASANT HILL EL',
 'REILLY EL',
 'RIDGETOP EL',
 'RODRIGUEZ EL',
 'ROSEDALE SCHOOL DEVELOPMENT CTR.',
 'SANCHEZ EL',
 'SIMS EL',
 'ST ELMO EL',
 'SUMMITT EL',
 'SUNSET VALLEY EL',
 'T A BROWN EL',
 'WALNUT CREEK EL',
 'WIDEN EL',
 'WILLIAMS EL',
 'WINN EL',
 'WOOLDRIDGE EL',
 'WOOTEN EL',
 'ZAVALA EL',
 'ZILKER EL',
 'LIVELY MIDDLE']

##### After completing API calls, several schools received addresses that were not in Austin, renaming the 39 schools to add "Austin".

In [142]:
#attempted to replace all "EL" with "ELEMENTARY" by using replace but it replaced the middle of several schools
#makes it necessary to do it by each school that just contains EL on the end
df = df.replace({"SiteName": {'ALLISON EL' : 'ALLISON ELEMENTARY',
                         'ALTERNATIVE LEARNING CTR' : 'ALTERNATIVE LEARNING CTR AUSTIN',
                         'ANDREWS EL' : 'ANDREWS ELEMENTARY AUSTIN',
                         'AUSTIN H S' : 'AUSTIN HIGH SCHOOL',
                         'BAILEY MIDDLE' : 'BAILEY MIDDLE SCHOOL AUSTIN',
                         'BALDWIN ELEMENTARY' : 'BALDWIN ELEMENTARY SCHOOL AUSTIN',
                         'BARANOFF EL' : 'BARANOFF ELEMENTARY',
                         'BARRINGTON EL' : 'BARRINGTON ELEMENTARY AUSTIN',
                         'BARTON HILLS EL' : 'BARTON HILLS ELEMENTARY',
                         'BECKER EL' : 'BECKER ELEMENTARY',
                         'BLACKSHEAR EL' : 'BLACKSHEAR ELEMENTARY AUSTIN',
                         'BLANTON EL' : 'BLANTON ELEMENTARY AUSTIN',
                         'BOONE EL' : 'BOONE ELEMENTARY AUSTIN',
                         'BOWIE H S' : 'BOWIE HIGH SCHOOL AUSTIN',
                         'BRENTWOOD EL' : 'BRENTWOOD ELEMENTARY',
                         'BROOKE EL' : 'BROOKE ELEMENTARY',
                         'BRYKER WOODS EL' : 'BRYKER WOODS ELEMENTARY',
                         'CAMPBELL EL' : 'CAMPBELL ELEMENTARY AUSTIN',
                         'CASEY EL' : 'CASEY ELEMENTARY',
                         'CASIS EL' : 'CASIS ELEMENTARY',
                         'CLAYTON EL' : 'CLAYTON ELEMENTARY',
                         'COOK EL' : 'COOK ELEMENTARY AUSTIN',
                         'CUNNINGHAM EL' : 'CUNNINGHAM ELEMENTARY',
                         'DAVIS EL' : 'DAVIS ELEMENTARY AUSTIN',
                         'DAWSON EL' : 'DAWSON ELEMENTARY',
                         'DOSS EL' : 'DOSS ELEMENTARY',
                         'GALINDO EL' : 'GALINDO ELEMENTARY',
                         'GOVALLE EL' : 'GOVALLE ELEMENTARY',
                         'GRAHAM EL' : 'GRAHAM ELEMENTARY',
                         'GULLETT EL' : 'GULLETT ELEMENTARY',
                         'HARRIS EL' : 'HARRIS ELEMENTARY AUSTIN',
                         'HART ELEMENTARY' : 'HART ELEMENTARY AUSTIN',
                         'HIGHLAND PARK EL' : 'HIGHLAND PARK ELEMENTARY AUSTIN',
                         'HILL EL' : 'HILL ELEMENTARY AUSTIN',
                         'HOUSTON EL' : 'HOUSTON ELEMENTARY AUSTIN',
                         'JORDAN EL' : 'JORDAN ELEMENTARY AUSTIN',
                         'JOSLIN EL' : 'JOSLIN ELEMENTARY',
                         'KIKER EL' : 'KIKER ELEMENTARY',
                         'KOCUREK EL' : 'KOCUREK ELEMENTARY',
                         'LANGFORD EL' : 'LANGFORD ELEMENTARY',
                         'LANIER H S' : 'LANIER HIGH SCHOOL AUSTIN',
                         'LEE EL' : 'LEE ELEMENTARY AUSTIN',
                         'LINDER EL' : 'LINDER ELEMENTARY',
                         'MAPLEWOOD EL' : 'MAPLEWOOD ELEMENTARY AUSTIN',
                         'MARTIN MIDDLE' : 'MARTIN MIDDLE SCHOOL AUSTIN',
                         'MATHEWS EL' : 'MATHEWS ELEMENTARY AUSTIN',
                         'MCBEE ELEMENTARY' : 'MCBEE ELEMENTARY SCHOOL AUSTIN',    
                         'MENCHACA EL' : 'MENCHACA ELEMENTARY AUSTIN',
                         'METZ EL' : 'METZ ELEMENTARY',
                         'MILLS ELEMENTARY' : 'MILLS ELEMENTARY SCHOOL AUSTIN',
                         'NORMAN-SIMS EL' : 'NORMAN-SIMS ELEMENTARY',
                         'OAK HILL EL' : 'OAK HILL ELEMENTARY AUSTIN',
                         'OAK SPRINGS EL' : 'OAK SPRINGS ELEMENTARY',
                         'ODOM EL' : 'ODOM ELEMENTARY',
                         'ORTEGA EL' : 'ORTEGA ELEMENTARY',
                         'PADRON EL' : 'PADRON ELEMENTARY',
                         'PALM EL' : 'PALM ELEMENTARY',
                         'PATTON EL' : 'PATTON ELEMENTARY',
                         'PEASE EL' : 'PEASE ELEMENTARY',
                         'PECAN SPRINGS EL' : 'PECAN SPRINGS ELEMENTARY',
                         'PEREZ EL' : 'PEREZ ELEMENTARY',
                         'PILLOW EL' : 'PILLOW ELEMENTARY',
                         'PLEASANT HILL EL' : 'PLEASANT HILL ELEMENTARY AUSTIN',
                         'REAGAN H S' : 'REAGAN HIGH SCHOOL AUSTIN',
                         'REILLY EL' : 'REILLY ELEMENTARY AUSTIN',
                         'RIDGETOP EL' : 'RIDGETOP ELEMENTARY',
                         'RODRIGUEZ EL' : 'RODRIGUEZ ELEMENTARY',
                         'ROSEDALE SCHOOL DEVELOPMENT CTR.' : 'ROSEDALE SCHOOL',
                         'SANCHEZ EL' : 'SANCHEZ ELEMENTARY',
                         'SCHOOL FOR YOUNG MEN' : 'SCHOOL FOR YOUNG MEN AUSTIN',
                         'SIMS EL' : 'SIMS ELEMENTARY',
                         'ST ELMO EL' : 'ST ELMO ELEMENTARY',
                         'SUMMITT EL' : 'SUMMITT ELEMENTARY',
                         'SUNSET VALLEY EL' : 'SUNSET VALLEY ELEMENTARY AUSTIN',
                         'T A BROWN EL' : 'T A BROWN ELEMENTARY',
                         'TRAVIS EARLY COLLEGE H S' : 'TRAVIS EARLY COLLEGE HIGH SCHOOL AUSTIN',
                         'WALNUT CREEK EL' : 'WALNUT CREEK ELEMENTARY AUSTIN',
                         'WEBB MIDDLE' : 'WEBB MIDDLE SCHOOL AUSTIN',
                         'WIDEN EL' : 'WIDEN ELEMENTARY',
                         'WILLIAMS EL' : 'WILLIAMS ELEMENTARY AUSTIN',
                         'WINN EL' : 'WINN ELEMENTARY',
                         'WOOLDRIDGE EL' : 'WOOLDRIDGE ELEMENTARY',
                         'WOOTEN EL' : 'WOOTEN ELEMENTARY',
                         'ZAVALA EL' : 'ZAVALA ELEMENTARY AUSTIN',
                         'ZILKER EL' : 'ZILKER ELEMENTARY AUSTIN'}}, regex=True)

In [143]:
df.head(10)

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
0,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2016 12:00:00 AM,2673.0,1498.0,332.0,842.0,687826.59
1,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON ELEMENTARY,06/01/2016 12:00:00 AM,529.0,470.0,32.0,26.0,312450.55
2,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR AUSTIN,06/01/2016 12:00:00 AM,155.0,124.0,6.0,25.0,79520.88
3,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2016 12:00:00 AM,2259.0,472.0,95.0,1692.0,200577.49
4,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS ELEMENTARY AUSTIN,06/01/2016 12:00:00 AM,588.0,545.0,17.0,26.0,387794.56
5,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANN RICHARDS SCHOOL FOR YOUNG WOMEN LEADERS,06/01/2016 12:00:00 AM,784.0,373.0,88.0,323.0,208084.54
6,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AUSTIN HIGH SCHOOL,06/01/2016 12:00:00 AM,2061.0,513.0,123.0,1425.0,204362.95
7,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,BAILEY MIDDLE SCHOOL AUSTIN,06/01/2016 12:00:00 AM,880.0,196.0,61.0,622.0,111990.32
8,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,BALDWIN ELEMENTARY SCHOOL AUSTIN,06/01/2016 12:00:00 AM,791.0,94.0,17.0,681.0,66625.89
9,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,BARANOFF ELEMENTARY,06/01/2016 12:00:00 AM,991.0,95.0,33.0,863.0,69091.97

In [144]:
#create updated CSV to ensure site names match for merging Geocoding results
df.to_csv("Resources/aisd_meal_reimbursement_years_15_19_UPDATED.csv", index=False)

In [145]:
#create list of unique school names for API calls
aisd_schools_list = df["SiteName"].unique().tolist()

In [146]:
aisd_schools_list

['AKINS H S',
 'ALLISON ELEMENTARY',
 'ALTERNATIVE LEARNING CTR AUSTIN',
 'ANDERSON H S',
 'ANDREWS ELEMENTARY AUSTIN',
 'ANN RICHARDS SCHOOL FOR YOUNG WOMEN LEADERS',
 'AUSTIN HIGH SCHOOL',
 'BAILEY MIDDLE SCHOOL AUSTIN',
 'BALDWIN ELEMENTARY SCHOOL AUSTIN',
 'BARANOFF ELEMENTARY',
 'BARRINGTON ELEMENTARY AUSTIN',
 'BARTON HILLS ELEMENTARY',
 'BECKER ELEMENTARY',
 'BEDICHEK MIDDLE',
 'BLACKSHEAR ELEMENTARY AUSTIN',
 'BLANTON ELEMENTARY AUSTIN',
 'BLAZIER ELEMENTARY SCHOOL',
 'BOONE ELEMENTARY AUSTIN',
 'BOWIE HIGH SCHOOL AUSTIN',
 'BRENTWOOD ELEMENTARY',
 'BROOKE ELEMENTARY',
 'BRYKER WOODS ELEMENTARY',
 'BURNET MIDDLE',
 'CAMPBELL ELEMENTARY AUSTIN',
 'CASEY ELEMENTARY',
 'CASIS ELEMENTARY',
 'CLAYTON ELEMENTARY',
 'COOK ELEMENTARY AUSTIN',
 'COVINGTON MIDDLE',
 'COWAN ELEMENTARY',
 'CROCKETT H S',
 'CUNNINGHAM ELEMENTARY',
 'DAVIS ELEMENTARY AUSTIN',
 'DAWSON ELEMENTARY',
 'DILL SPECIAL PROG',
 'DOBIE MIDDLE',
 'DOBIE PK CENTER',
 'DOSS ELEMENTARY',
 'EASTSIDE MEMORIAL AT THE JOHNSTON CAMPUS',
 'FULMORE MIDDLE',
 'GALINDO ELEMENTARY',
 'GARZA INDEPENDENCE H S',
 'GORZYCKI MIDDLE SCHOOL',
 'GOVALLE ELEMENTARY',
 'GRAHAM ELEMENTARY',
 'GUERRERO THOMPSON',
 'GULLETT ELEMENTARY',
 'HARRIS ELEMENTARY AUSTIN',
 'HART ELEMENTARY AUSTIN',
 'HIGHLAND PARK ELEMENTARY AUSTIN',
 'HILL ELEMENTARY AUSTIN',
 'HOUSTON ELEMENTARY AUSTIN',
 'INTERNATIONAL HIGH SCHOOL',
 'JORDAN ELEMENTARY AUSTIN',
 'JOSLIN ELEMENTARY',
 'KEALING M S',
 'KIKER ELEMENTARY',
 'KOCUREK ELEMENTARY',
 'LAMAR MIDDLE',
 'LANGFORD ELEMENTARY',
 'LANIER HIGH SCHOOL AUSTIN',
 'LASA HIGH SCHOOL',
 'LBJ HIGH SCHOOL',
 'LEE ELEMENTARY AUSTIN',
 'LINDER ELEMENTARY',
 'MAPLEWOOD ELEMENTARY AUSTIN',
 'MARTIN MIDDLE SCHOOL AUSTIN',
 'MATHEWS ELEMENTARY AUSTIN',
 'MCBEE ELEMENTARY SCHOOL AUSTIN',
 'MCCALLUM H S',
 'MENCHACA ELEMENTARY AUSTIN',
 'MENDEZ MIDDLE',
 'METZ ELEMENTARY',
 'MILLS ELEMENTARY SCHOOL AUSTIN',
 'MURCHISON MIDDLE',
 'NORMAN-SIMS ELEMENTARYEMENTARY',
 'O HENRY MIDDLE',
 'OAK HILL ELEMENTARY AUSTINEMENTARY AUSTIN',
 'OAK SPRINGS ELEMENTARY',
 'ODOM ELEMENTARY',
 'ORTEGA ELEMENTARY',
 'OVERTON ELEMENTARY',
 'PADRON ELEMENTARY',
 'PALM ELEMENTARY',
 'PAREDES MIDDLE SCHOOL',
 'PATTON ELEMENTARY',
 'PEASE ELEMENTARY',
 'PECAN SPRINGS ELEMENTARY',
 'PEREZ ELEMENTARY',
 'PICKLE ELEMENTARY',
 'PILLOW ELEMENTARY',
 'PLEASANT HILL ELEMENTARY AUSTINEMENTARY AUSTIN',
 'PREMIER H S AT LANIER',
 'PREMIER H S AT TRAVIS',
 'READ PRE-K DEMONSTRATION SCH',
 'REAGAN HIGH SCHOOL AUSTIN',
 'REILLY ELEMENTARY AUSTIN',
 'RIDGETOP ELEMENTARY',
 'RODRIGUEZ ELEMENTARY',
 'ROSEDALE SCHOOL',
 'SANCHEZ ELEMENTARY',
 'SCHOOL FOR YOUNG MEN AUSTIN',
 'SCHOOL FOR YOUNG WOMEN',
 'SIMS ELEMENTARY',
 'SMALL MS',
 'ST ELMO ELEMENTARY',
 'SUMMITT ELEMENTARY',
 'SUNSET VALLEY ELEMENTARY AUSTIN',
 'T A BROWN ELEMENTARY',
 'TRAVIS EARLY COLLEGE HIGH SCHOOL AUSTIN',
 'TRAVIS HTS CHARTER',
 'UPHAUS EARLY CHILDHOOD CENTER',
 'WALNUT CREEK ELEMENTARY AUSTIN',
 'WEBB MIDDLE SCHOOL AUSTIN',
 'WEBB PRIMARY CENTER',
 'WIDEN ELEMENTARY',
 'WILLIAMS ELEMENTARY AUSTIN',
 'WINN ELEMENTARY',
 'WOOLDRIDGE ELEMENTARY',
 'WOOTEN ELEMENTARY',
 'ZAVALA ELEMENTARY AUSTIN',
 'ZILKER ELEMENTARY AUSTIN',
 'GARCIA YMLA',
 'SADLER MEANS YWLA',
 'GRADUATION PREP ACADEMY NAVARRO',
 'GRADUATION PREP ACADEMY TRAVIS',
 'LIVELY MIDDLE',
 'NAVARRO EARLY COLLEGE H S',
 'NORTHEAST EARLY COLLEGE H S']

In [131]:
#test API request
r = requests.get("https://maps.googleapis.com/maps/api/geocode/json", params={
    "address": "ZILKER ELEMENTARY",
    "key": api_key
})

In [132]:
data = r.json()

In [133]:
data

{'results': [{'address_components': [{'long_name': '1900',
     'short_name': '1900',
     'types': ['street_number']},
    {'long_name': 'Bluebonnet Lane',
     'short_name': 'Bluebonnet Ln',
     'types': ['route']},
    {'long_name': 'Zilker',
     'short_name': 'Zilker',
     'types': ['neighborhood', 'political']},
    {'long_name': 'Austin',
     'short_name': 'Austin',
     'types': ['locality', 'political']},
    {'long_name': 'Travis County',
     'short_name': 'Travis County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Texas',
     'short_name': 'TX',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '78704', 'short_name': '78704', 'types': ['postal_code']},
    {'long_name': '3342',
     'short_name': '3342',
     'types': ['postal_code_suffix']}],
   'formatted_address': '1900 Bluebonnet Ln, Austin, TX 78704, USA',
   'geometry': {'location': {'lat': 30.2525438, 'lng': -97.7745674},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 30.2538927802915,
      'lng': -97.77321841970848},
     'southwest': {'lat': 30.2511948197085, 'lng': -97.7759163802915}}},
   'place_id': 'ChIJSdWPcyi1RIYRfXFqgIVZQ98',
   'plus_code': {'compound_code': '763G+25 Austin, TX, USA',
    'global_code': '8624763G+25'},
   'types': ['establishment', 'point_of_interest', 'school']}],
 'status': 'OK'}

In [147]:
#create dataframe of unique school names
results_df = pd.DataFrame({"SiteName": aisd_schools_list})
results_df

                            SiteName
0                          AKINS H S
1                 ALLISON ELEMENTARY
2    ALTERNATIVE LEARNING CTR AUSTIN
3                       ANDERSON H S
4          ANDREWS ELEMENTARY AUSTIN
..                               ...
124  GRADUATION PREP ACADEMY NAVARRO
125   GRADUATION PREP ACADEMY TRAVIS
126                    LIVELY MIDDLE
127        NAVARRO EARLY COLLEGE H S
128      NORTHEAST EARLY COLLEGE H S

[129 rows x 1 columns]

In [148]:
#add empty columns for appending
results_df["Lat"] = ""
results_df["Lng"] = ""
results_df["Address"] = ""
results_df.head(5)

                          SiteName Lat Lng Address
0                        AKINS H S
1               ALLISON ELEMENTARY
2  ALTERNATIVE LEARNING CTR AUSTIN
3                     ANDERSON H S
4        ANDREWS ELEMENTARY AUSTIN

In [149]:
#find coordinates and zip code for each school

base_url = "https://maps.googleapis.com/maps/api/geocode/json"

params = params={
    "key": api_key
}

# use iterrows to iterate through pandas dataframe
for index, row in results_df.iterrows():

#get school name from dataframe 
    school_name = row["SiteName"]
    
    #add address key to to params dict
    params["address"] = school_name
    
    #assemble URL and make request
    print(f"Retrieving results for {index}: {school_name}.")
    response = requests.get(base_url, params=params).json()
          
    #extract results
    results = response["results"]
          
    try:
        results_df.loc[index, "Lat"] = results[0]["geometry"]["location"]["lat"]
        results_df.loc[index, "Lng"] = results[0]["geometry"]["location"]["lng"]
        results_df.loc[index, "Address"] = results[0]["formatted_address"]
          
    except (KeyError, IndexError):
          print("Unable to find result... skipping.")
          
print("-----------------------")
print("Data retrieval complete.")
print("-----------------------")

Retrieving results for 0: AKINS H S.
Retrieving results for 1: ALLISON ELEMENTARY.
Retrieving results for 2: ALTERNATIVE LEARNING CTR AUSTIN.
Retrieving results for 3: ANDERSON H S.
Retrieving results for 4: ANDREWS ELEMENTARY AUSTIN.
Retrieving results for 5: ANN RICHARDS SCHOOL FOR YOUNG WOMEN LEADERS.
Retrieving results for 6: AUSTIN HIGH SCHOOL.
Retrieving results for 7: BAILEY MIDDLE SCHOOL AUSTIN.
Retrieving results for 8: BALDWIN ELEMENTARY SCHOOL AUSTIN.
Retrieving results for 9: BARANOFF ELEMENTARY.
Retrieving results for 10: BARRINGTON ELEMENTARY AUSTIN.
Retrieving results for 11: BARTON HILLS ELEMENTARY.
Retrieving results for 12: BECKER ELEMENTARY.
Retrieving results for 13: BEDICHEK MIDDLE.
Retrieving results for 14: BLACKSHEAR ELEMENTARY AUSTIN.
Retrieving results for 15: BLANTON ELEMENTARY AUSTIN.
Retrieving results for 16: BLAZIER ELEMENTARY SCHOOL.
Retrieving results for 17: BOONE ELEMENTARY AUSTIN.
Retrieving results for 18: BOWIE HIGH SCHOOL AUSTIN.
Retrieving results for 19: BRENTWOOD ELEMENTARY.
Retrieving results for 20: BROOKE ELEMENTARY.
Retrieving results for 21: BRYKER WOODS ELEMENTARY.
Retrieving results for 22: BURNET MIDDLE.
Retrieving results for 23: CAMPBELL ELEMENTARY AUSTIN.
Retrieving results for 24: CASEY ELEMENTARY.
Retrieving results for 25: CASIS ELEMENTARY.
Retrieving results for 26: CLAYTON ELEMENTARY.
Retrieving results for 27: COOK ELEMENTARY AUSTIN.
Retrieving results for 28: COVINGTON MIDDLE.
Retrieving results for 29: COWAN ELEMENTARY.
Retrieving results for 30: CROCKETT H S.
Retrieving results for 31: CUNNINGHAM ELEMENTARY.
Retrieving results for 32: DAVIS ELEMENTARY AUSTIN.
Retrieving results for 33: DAWSON ELEMENTARY.
Retrieving results for 34: DILL SPECIAL PROG.
Unable to find result... skipping.
Retrieving results for 35: DOBIE MIDDLE.
Retrieving results for 36: DOBIE PK CENTER.
Retrieving results for 37: DOSS ELEMENTARY.
Retrieving results for 38: EASTSIDE MEMORIAL AT THE JOHNSTON CAMPUS.
Retrieving results for 39: FULMORE MIDDLE.
Retrieving results for 40: GALINDO ELEMENTARY.
Retrieving results for 41: GARZA INDEPENDENCE H S.
Retrieving results for 42: GORZYCKI MIDDLE SCHOOL.
Retrieving results for 43: GOVALLE ELEMENTARY.
Retrieving results for 44: GRAHAM ELEMENTARY.
Retrieving results for 45: GUERRERO THOMPSON.
Retrieving results for 46: GULLETT ELEMENTARY.
Retrieving results for 47: HARRIS ELEMENTARY AUSTIN.
Retrieving results for 48: HART ELEMENTARY AUSTIN.
Retrieving results for 49: HIGHLAND PARK ELEMENTARY AUSTIN.
Retrieving results for 50: HILL ELEMENTARY AUSTIN.
Retrieving results for 51: HOUSTON ELEMENTARY AUSTIN.
Retrieving results for 52: INTERNATIONAL HIGH SCHOOL.
Retrieving results for 53: JORDAN ELEMENTARY AUSTIN.
Retrieving results for 54: JOSLIN ELEMENTARY.
Retrieving results for 55: KEALING M S.
Retrieving results for 56: KIKER ELEMENTARY.
Retrieving results for 57: KOCUREK ELEMENTARY.
Retrieving results for 58: LAMAR MIDDLE.
Retrieving results for 59: LANGFORD ELEMENTARY.
Retrieving results for 60: LANIER HIGH SCHOOL AUSTIN.
Retrieving results for 61: LASA HIGH SCHOOL.
Retrieving results for 62: LBJ HIGH SCHOOL.
Retrieving results for 63: LEE ELEMENTARY AUSTIN.
Retrieving results for 64: LINDER ELEMENTARY.
Retrieving results for 65: MAPLEWOOD ELEMENTARY AUSTIN.
Retrieving results for 66: MARTIN MIDDLE SCHOOL AUSTIN.
Retrieving results for 67: MATHEWS ELEMENTARY AUSTIN.
Retrieving results for 68: MCBEE ELEMENTARY SCHOOL AUSTIN.
Retrieving results for 69: MCCALLUM H S.
Retrieving results for 70: MENCHACA ELEMENTARY AUSTIN.
Retrieving results for 71: MENDEZ MIDDLE.
Retrieving results for 72: METZ ELEMENTARY.
Retrieving results for 73: MILLS ELEMENTARY SCHOOL AUSTIN.
Retrieving results for 74: MURCHISON MIDDLE.
Retrieving results for 75: NORMAN-SIMS ELEMENTARYEMENTARY.
Retrieving results for 76: O HENRY MIDDLE.
Retrieving results for 77: OAK HILL ELEMENTARY AUSTINEMENTARY AUSTIN.
Retrieving results for 78: OAK SPRINGS ELEMENTARY.
Retrieving results for 79: ODOM ELEMENTARY.
Retrieving results for 80: ORTEGA ELEMENTARY.
Retrieving results for 81: OVERTON ELEMENTARY.
Retrieving results for 82: PADRON ELEMENTARY.
Retrieving results for 83: PALM ELEMENTARY.
Retrieving results for 84: PAREDES MIDDLE SCHOOL.
Retrieving results for 85: PATTON ELEMENTARY.
Retrieving results for 86: PEASE ELEMENTARY.
Retrieving results for 87: PECAN SPRINGS ELEMENTARY.
Retrieving results for 88: PEREZ ELEMENTARY.
Retrieving results for 89: PICKLE ELEMENTARY.
Retrieving results for 90: PILLOW ELEMENTARY.
Retrieving results for 91: PLEASANT HILL ELEMENTARY AUSTINEMENTARY AUSTIN.
Retrieving results for 92: PREMIER H S AT LANIER.
Retrieving results for 93: PREMIER H S AT TRAVIS.
Retrieving results for 94: READ PRE-K DEMONSTRATION SCH.
Retrieving results for 95: REAGAN HIGH SCHOOL AUSTIN.
Retrieving results for 96: REILLY ELEMENTARY AUSTIN.
Retrieving results for 97: RIDGETOP ELEMENTARY.
Retrieving results for 98: RODRIGUEZ ELEMENTARY.
Retrieving results for 99: ROSEDALE SCHOOL.
Retrieving results for 100: SANCHEZ ELEMENTARY.
Retrieving results for 101: SCHOOL FOR YOUNG MEN AUSTIN.
Retrieving results for 102: SCHOOL FOR YOUNG WOMEN.
Retrieving results for 103: SIMS ELEMENTARY.
Retrieving results for 104: SMALL MS.
Retrieving results for 105: ST ELMO ELEMENTARY.
Retrieving results for 106: SUMMITT ELEMENTARY.
Retrieving results for 107: SUNSET VALLEY ELEMENTARY AUSTIN.
Retrieving results for 108: T A BROWN ELEMENTARY.
Retrieving results for 109: TRAVIS EARLY COLLEGE HIGH SCHOOL AUSTIN.
Retrieving results for 110: TRAVIS HTS CHARTER.
Retrieving results for 111: UPHAUS EARLY CHILDHOOD CENTER.
Retrieving results for 112: WALNUT CREEK ELEMENTARY AUSTIN.
Retrieving results for 113: WEBB MIDDLE SCHOOL AUSTIN.
Retrieving results for 114: WEBB PRIMARY CENTER.
Retrieving results for 115: WIDEN ELEMENTARY.
Retrieving results for 116: WILLIAMS ELEMENTARY AUSTIN.
Retrieving results for 117: WINN ELEMENTARY.
Retrieving results for 118: WOOLDRIDGE ELEMENTARY.
Retrieving results for 119: WOOTEN ELEMENTARY.
Retrieving results for 120: ZAVALA ELEMENTARY AUSTIN.
Retrieving results for 121: ZILKER ELEMENTARY AUSTIN.
Retrieving results for 122: GARCIA YMLA.
Retrieving results for 123: SADLER MEANS YWLA.
Retrieving results for 124: GRADUATION PREP ACADEMY NAVARRO.
Unable to find result... skipping.
Retrieving results for 125: GRADUATION PREP ACADEMY TRAVIS.
Retrieving results for 126: LIVELY MIDDLE.
Retrieving results for 127: NAVARRO EARLY COLLEGE H S.
Retrieving results for 128: NORTHEAST EARLY COLLEGE H S.
-----------------------
Data retrieval complete.
-----------------------

In [158]:
#extract zipcode and store in new column of results_df
results_df["Zipcode"] = results_df['Address'].str.extract(r'(\d{5}\-?\d{0,4})')

results_df.head()

,SiteName,Lat,Lng,Address,Zipcode
0,AKINS H S,30.1487,-97.8017,"10701 S 1st St, Austin, TX 78748, USA",10701
1,ALLISON ELEMENTARY,30.2358,-97.6915,"515 Vargas Rd, Austin, TX 78741, USA",78741
2,ALTERNATIVE LEARNING CTR AUSTIN,30.2557,-97.6972,"4900 Gonzales St, Austin, TX 78702, USA",78702
3,ANDERSON H S,30.3757,-97.7528,"8403 Mesa Dr, Austin, TX 78759, USA",78759
4,ANDREWS ELEMENTARY AUSTIN,30.3175,-97.6797,"6801 Northeast Dr, Austin, TX 78723, USA",78723

In [164]:
#some number addresses were extracted before the zip code, replacing with actual zip code

results_df = results_df.replace({"Zipcode": {"10701" : "78748",
                                "12200" : "78739",
                                "12009" : "78748",
                                "11211" : "78753",
                                "10100" : "78748",
                                "12207" : "78727"}}, regex=True)

In [165]:
results_df.to_csv("Resources/schools_geolocation_aisd.csv", index=False)