In [1]:
#dependencies and set up
import os
import pandas as pd

%reload_ext nb_black

In [2]:
#create paths for each csv to clean 1 at a time
path_1 = "Resources/School_Meal_Reimbursement_Year_2015-2016.csv"
path_2 = "Resources/School_Meal_Reimbursement_Year_2016-2017.csv"
path_3 = "Resources/School_Meal_Reimbursement_Year_2017-2018.csv"
path_4 = "Resources/School_Meal_Reimbursement_Year_2018-2019.csv"

#create out paths for cleaned csv files
out_path_1 = "Resources/clean_meal_reimbursement_year_2015_16.csv"
out_path_2 = "Resources/clean_meal_reimbursement_year_2016_17.csv"
out_path_3 = "Resources/clean_meal_reimbursement_year_2017_18.csv"
out_path_4 = "Resources/clean_meal_reimbursement_year_2018_19.csv"

#### 2015 - 2016 Data Cleaning

In [3]:
#import and read first csv for 2015 - 2016 data
#columns were initially colapsed, use dispay.max_columns to view all
pd.set_option('display.max_columns', None)
df_1 = pd.read_csv(path_1)
df_1.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (34,36,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ProgramYear,ReportType,CEID,CEName,CECounty,ESC,TDARegion,TypeOfAgency,TypeOfSNPOrg,SiteID,SiteName,SiteCounty,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedReduced,BreakfastServedPaid,LunchDays,LunchTotal,LunchADP,LunchServedFree,LunchServedReduced,LunchServedPaid,SnackDays,SnackTotal,SnackADP,SnackServedFree,SnackServedReduced,SnackServedPaid,MilkDays,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
0,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,08/01/2015 12:00:00 AM,191,55,10,126,6,240,40,94,26,120,6,556,92.67,185,37,334,0,0,0.0,0,0,0,0,0,0.0,0,0,0,265.8,796.96,0,0.0,"1,062.76"
1,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,09/01/2015 12:00:00 AM,186,55,10,121,21,855,40.71,373,91,391,21,"1,705",81.19,626,115,964,0,0,0.0,0,0,0,0,0,0.0,0,0,0,"1,009.45","2,610.73",0,0.0,"3,620.18"
2,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,10/01/2015 12:00:00 AM,186,44,13,129,21,866,41.24,398,80,388,21,"1,618",77.05,574,127,917,0,0,0.0,0,0,0,0,0,0.0,0,0,0,"1,039.74","2,464.28",0,0.0,"3,504.02"
3,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,11/01/2015 12:00:00 AM,187,42,11,134,18,805,44.72,336,95,374,18,"1,542",85.67,489,128,925,0,0,0.0,0,0,0,0,0,0.0,0,0,0,937.65,"2,203.76",0,0.0,"3,141.41"
4,2015-2016,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7.0,2.0,Educational Institution,Public,1,CAYUGA H S,ANDERSON,12/01/2015 12:00:00 AM,186,42,11,133,14,539,38.5,234,44,261,14,"1,040",74.29,351,86,603,0,0,0.0,0,0,0,0,0,0.0,0,0,0,615.71,"1,544.46",0,0.0,"2,160.17"

In [4]:
#drop all columns not needed for analysis (only need quantity of students and quantity that qualifies for free or reduced lunch)
df_1.drop(columns=["ReportType", "ESC", "TDARegion", "SiteID", "SiteCounty", "BreakfastDays", "BreakfastTotal", 
                   "BreakfastADP", "BreakfastServedFree", "BreakfastServedReduced", "BreakfastServedPaid", 
                   "LunchDays", "LunchTotal", "LunchADP", "LunchServedFree", "LunchServedReduced",
                   "LunchServedPaid", "SnackDays", "SnackTotal", "SnackADP", "SnackServedFree",
                  "SnackServedReduced", "SnackServedPaid", "MilkDays", "Milktotal", "MilkADP",
                  "MilkServedFree", "MilkServedReduced", "MilkServedPaid", "BreakfastReimbursement",
                  "LunchReimbursement", "SnackReimbursement", "MilkReimbursement"], inplace=True)

In [5]:
df_1.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
0,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,08/01/2015 12:00:00 AM,191,55,10,126,"1,062.76"
1,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,09/01/2015 12:00:00 AM,186,55,10,121,"3,620.18"
2,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,10/01/2015 12:00:00 AM,186,44,13,129,"3,504.02"
3,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,11/01/2015 12:00:00 AM,187,42,11,134,"3,141.41"
4,2015-2016,1,CAYUGA ISD,ANDERSON,Educational Institution,Public,CAYUGA H S,12/01/2015 12:00:00 AM,186,42,11,133,"2,160.17"

In [6]:
#create series of rows for schools only in Travis county
travis_co_1 = df_1.loc[df_1["CECounty"] == "TRAVIS"]

#count the number of districts to match up with ethnicity data for consistency
travis_co_1["CEName"].nunique()

25

In [7]:
travis_co_1.dtypes

ProgramYear           object
CEID                   int64
CEName                object
CECounty              object
TypeOfAgency          object
TypeOfSNPOrg          object
SiteName              object
ClaimDate             object
EnrollmentQty         object
FreeEligibleQty       object
ReducedEligibleQty     int64
PaidEligibleQty       object
TotalReimbursement    object
dtype: object

In [8]:
#replace commas with "" to fix unable to parse string error
travis_co_1 = travis_co_1.replace(',','', regex=True)
travis_co_1.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
77951,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,07/01/2015 12:00:00 AM,435,238,39,158,1739.31
77952,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,08/01/2015 12:00:00 AM,443,231,40,172,8938.02
77953,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,09/01/2015 12:00:00 AM,434,213,36,185,8071.61
77954,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,10/01/2015 12:00:00 AM,431,216,37,178,6439.05
77955,2015-2016,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,11/01/2015 12:00:00 AM,419,211,36,172,7361.79

In [9]:
#change datatypes for quantity and reimbursement columns before perfoming calculations
travis_co_1[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]] = travis_co_1[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]].apply(pd.to_numeric)

#check datatypes
travis_co_1.dtypes

ProgramYear            object
CEID                    int64
CEName                 object
CECounty               object
TypeOfAgency           object
TypeOfSNPOrg           object
SiteName               object
ClaimDate              object
EnrollmentQty           int64
FreeEligibleQty         int64
ReducedEligibleQty      int64
PaidEligibleQty         int64
TotalReimbursement    float64
dtype: object

In [10]:
#calcuate enrollment, free qty, reduced qty, paid qty, and total reiumbursement for each school for the entire school year
eligibility_by_school_15_16 = travis_co_1.groupby(["SiteName"]).agg({"ProgramYear": "first", 
                                      "CEID": "first", 
                                      "CEName": "first",
                                      "CECounty": "first",
                                      "TypeOfAgency": "first",
                                      "TypeOfSNPOrg": "first",
                                      "SiteName": "first",
                                      "ClaimDate": "last",
                                      "EnrollmentQty": "mean",
                                      "FreeEligibleQty": "mean",
                                      "ReducedEligibleQty": "mean",
                                      "PaidEligibleQty": "mean",
                                      "TotalReimbursement": "sum",
                                      })
eligibility_by_school_15_16

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2016 12:00:00 AM,2672.636364,1498.181818,332.272727,842.181818,687826.59
ALLISON EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,06/01/2016 12:00:00 AM,528.909091,470.363636,32.090909,26.454545,312450.55
ALTERNATIVE LEARNING CTR,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,06/01/2016 12:00:00 AM,154.545455,123.727273,6.000000,24.818182,79520.88
ANDERSON H S,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2016 12:00:00 AM,2259.000000,471.636364,95.363636,1692.000000,200577.49
ANDREWS EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2016 12:00:00 AM,588.181818,544.545455,17.454545,26.181818,387794.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WOOLDRIDGE EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOLDRIDGE EL,06/01/2016 12:00:00 AM,639.363636,583.181818,29.181818,27.000000,431204.89
WOOTEN EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOTEN EL,06/01/2016 12:00:00 AM,616.363636,562.454545,18.636364,35.272727,365637.49
YORK HOUSE,2015-2016,1249,TEXAS JUVENILE JUSTICE DEPARTMENT,TRAVIS,Government Agency,RCCI,YORK HOUSE,06/01/2016 12:00:00 AM,20.916667,20.916667,0.000000,0.000000,17909.20
ZAVALA EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZAVALA EL,06/01/2016 12:00:00 AM,378.818182,352.181818,12.000000,14.636364,242597.77
ZILKER EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZILKER EL,06/01/2016 12:00:00 AM,548.727273,104.636364,23.181818,420.909091,63445.73

In [11]:
#round all columns that were calculated
rounded_1516 = eligibility_by_school_15_16.round({"EnrollmentQty": 0,
                                   "FreeEligibleQty": 0,
                                   "ReducedEligibleQty": 0,
                                   "PaidEligibleQty": 0
                                  })

rounded_1516.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2016 12:00:00 AM,2673.0,1498.0,332.0,842.0,687826.59
ALLISON EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,06/01/2016 12:00:00 AM,529.0,470.0,32.0,26.0,312450.55
ALTERNATIVE LEARNING CTR,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,06/01/2016 12:00:00 AM,155.0,124.0,6.0,25.0,79520.88
ANDERSON H S,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2016 12:00:00 AM,2259.0,472.0,95.0,1692.0,200577.49
ANDREWS EL,2015-2016,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2016 12:00:00 AM,588.0,545.0,17.0,26.0,387794.56

In [46]:
#export to csv
rounded_1516.to_csv(out_path_1, index=False)

#### 2016 - 2017 Data Cleaning

In [12]:
#import and read first csv for 2016 - 2017 data
#columns were initially colapsed, use dispay.max_columns to view all
pd.set_option('display.max_columns', None)
df_2 = pd.read_csv(path_2)
df_2.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (14,19,31,34,36,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ProgramYear,ReportType,CEID,CEName,CECounty,ESC,TDARegion,TypeOfAgency,TypeOfSNPOrg,SiteID,SiteName,SiteCounty,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedReduced,BreakfastServedPaid,LunchDays,LunchTotal,LunchADP,LunchServedFree,LunchServedReduced,LunchServedPaid,SnackDays,SnackTotal,SnackADP,SnackServedFree,SnackServedReduced,SnackServedPaid,MilkDays,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
0,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,08/01/2016 12:00:00 AM,179,55,9,115,7,338,48.29,192,19,127,7,620,88.57,268,44,308,0,0,0,0,0,0,0,0,0.0,0,0,0,461.57,"1,097.92",0,0.0,"1,559.49"
1,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,09/01/2016 12:00:00 AM,179,55,9,115,21,824,39.24,526,25,273,21,"1,687",80.33,714,117,856,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,195.71","2,937.18",0,0.0,"4,132.89"
2,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,10/01/2016 12:00:00 AM,175,48,5,122,20,830,41.5,518,16,296,20,"1,605",80.25,641,74,890,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,170.4","2,593.1",0,0.0,"3,763.5"
3,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,11/01/2016 12:00:00 AM,173,50,5,118,19,683,35.95,478,15,190,19,"1,463",77,624,73,766,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,056.32","2,490.9",0,0.0,"3,547.22"
4,2016-2017,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,12/01/2016 12:00:00 AM,174,51,5,118,16,594,37.13,423,13,158,16,"1,148",71.75,508,53,587,0,0,0,0,0,0,0,0,0.0,0,0,0,931.36,"1,996.54",0,0.0,"2,927.9"

In [13]:
#drop all columns not needed for analysis (only need quantity of students and quantity that qualifies for free or reduced lunch)
df_2.drop(columns=["ReportType", "ESC", "TDARegion", "SiteID", "SiteCounty", "BreakfastDays", "BreakfastTotal", 
                   "BreakfastADP", "BreakfastServedFree", "BreakfastServedReduced", "BreakfastServedPaid", 
                   "LunchDays", "LunchTotal", "LunchADP", "LunchServedFree", "LunchServedReduced",
                   "LunchServedPaid", "SnackDays", "SnackTotal", "SnackADP", "SnackServedFree",
                  "SnackServedReduced", "SnackServedPaid", "MilkDays", "Milktotal", "MilkADP",
                  "MilkServedFree", "MilkServedReduced", "MilkServedPaid", "BreakfastReimbursement",
                  "LunchReimbursement", "SnackReimbursement", "MilkReimbursement"], inplace=True)

In [14]:
#create series of rows for schools only in Travis county
travis_co_2 = df_2.loc[df_2["CECounty"] == "TRAVIS"]

#count the number of districts to match up with ethnicity data for consistency
travis_co_2["CEName"].nunique()

25

In [15]:
travis_co_2.dtypes

ProgramYear           object
CEID                   int64
CEName                object
CECounty              object
TypeOfAgency          object
TypeOfSNPOrg          object
SiteName              object
ClaimDate             object
EnrollmentQty         object
FreeEligibleQty       object
ReducedEligibleQty     int64
PaidEligibleQty       object
TotalReimbursement    object
dtype: object

In [16]:
#replace commas with "" to fix unable to parse string error
travis_co_2 = travis_co_2.replace(',','', regex=True)
travis_co_2.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
76696,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,07/01/2016 12:00:00 AM,431,231,35,165,1548.98
76697,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,08/01/2016 12:00:00 AM,488,175,24,289,8082.27
76698,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,09/01/2016 12:00:00 AM,482,225,29,228,3920.51
76699,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,10/01/2016 12:00:00 AM,480,211,29,240,413.7
76700,2016-2017,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,11/01/2016 12:00:00 AM,479,213,26,240,6883.84

In [17]:
#change datatypes for quantity and reimbursement columns before perfoming calculations
travis_co_2[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]] = travis_co_2[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]].apply(pd.to_numeric)

#check datatypes
travis_co_2.dtypes

ProgramYear            object
CEID                    int64
CEName                 object
CECounty               object
TypeOfAgency           object
TypeOfSNPOrg           object
SiteName               object
ClaimDate              object
EnrollmentQty           int64
FreeEligibleQty         int64
ReducedEligibleQty      int64
PaidEligibleQty         int64
TotalReimbursement    float64
dtype: object

In [18]:
#calcuate enrollment, free qty, reduced qty, paid qty, and total reiumbursement for each school for the entire school year
eligibility_by_school_16_17 = travis_co_2.groupby(["SiteName"]).agg({"ProgramYear": "first", 
                                      "CEID": "first", 
                                      "CEName": "first",
                                      "CECounty": "first",
                                      "TypeOfAgency": "first",
                                      "TypeOfSNPOrg": "first",
                                      "SiteName": "first",
                                      "ClaimDate": "last",
                                      "EnrollmentQty": "mean",
                                      "FreeEligibleQty": "mean",
                                      "ReducedEligibleQty": "mean",
                                      "PaidEligibleQty": "mean",
                                      "TotalReimbursement": "sum",
                                      })

eligibility_by_school_16_17

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2017 12:00:00 AM,2639.818182,1413.909091,290.090909,935.818182,828531.04
ALLISON EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,06/01/2017 12:00:00 AM,458.545455,408.545455,17.909091,32.090909,268526.03
ALTERNATIVE LEARNING CTR,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,06/01/2017 12:00:00 AM,144.636364,111.454545,5.636364,27.545455,84981.00
ANDERSON H S,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2017 12:00:00 AM,2200.454545,445.181818,87.363636,1667.909091,193494.49
ANDREWS EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2017 12:00:00 AM,574.363636,526.909091,23.272727,24.181818,446195.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WOOLDRIDGE EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOLDRIDGE EL,06/01/2017 12:00:00 AM,615.454545,547.272727,29.818182,38.363636,386970.72
WOOTEN EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOTEN EL,06/01/2017 12:00:00 AM,568.818182,507.818182,20.090909,40.909091,341959.97
YORK HOUSE,2016-2017,1249,TEXAS JUVENILE JUSTICE DEPARTMENT,TRAVIS,Government Agency,RCCI,YORK HOUSE,04/01/2017 12:00:00 AM,12.000000,12.000000,0.000000,0.000000,7155.60
ZAVALA EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZAVALA EL,06/01/2017 12:00:00 AM,341.727273,312.000000,12.909091,16.818182,215396.61
ZILKER EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZILKER EL,06/01/2017 12:00:00 AM,562.818182,102.727273,20.545455,439.545455,62527.72

In [19]:
#round all columns that were calculated
rounded_16_17 = eligibility_by_school_16_17.round({"EnrollmentQty": 0,
                                   "FreeEligibleQty": 0,
                                   "ReducedEligibleQty": 0,
                                   "PaidEligibleQty": 0
                                  })

rounded_16_17.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,06/01/2017 12:00:00 AM,2640.0,1414.0,290.0,936.0,828531.04
ALLISON EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,06/01/2017 12:00:00 AM,459.0,409.0,18.0,32.0,268526.03
ALTERNATIVE LEARNING CTR,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,06/01/2017 12:00:00 AM,145.0,111.0,6.0,28.0,84981.00
ANDERSON H S,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2017 12:00:00 AM,2200.0,445.0,87.0,1668.0,193494.49
ANDREWS EL,2016-2017,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2017 12:00:00 AM,574.0,527.0,23.0,24.0,446195.87

In [43]:
#export to csv
rounded_16_17.to_csv(out_path_2, index=False)

#### 2017 - 2018 Data Cleaning

In [20]:
#import and read csv for 2017 - 2018 data
#columns were initially colapsed, use dispay.max_columns to view all
pd.set_option('display.max_columns', None)
df_3 = pd.read_csv(path_3)
df_3.head()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (32,35,37,41) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ProgramYear,ReportType,CEID,CEName,CECounty,CountyDistrictCode,ESC,TDARegion,TypeOfAgency,TypeOfSNPOrg,SiteID,SiteName,SiteCounty,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedReduced,BreakfastServedPaid,LunchDays,LunchTotal,LunchADP,LunchServedFree,LunchServedReduced,LunchServedPaid,SnackDays,SnackTotal,SnackADP,SnackServedFree,SnackServedReduced,SnackServedPaid,MilkDays,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
0,2017-2018,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,NaN,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,08/01/2017 12:00:00 AM,167,58,9,100,9,326,36.22,236,7,83,9,732,81.33,340,50,342,0,0,0,0,0,0,0,0,0.0,0,0,0,530.67,"1,389.64",0,0.0,"1,920.31"
1,2017-2018,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,NaN,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,09/01/2017 12:00:00 AM,161,51,10,100,20,714,35.7,481,33,200,20,"1,756",87.8,761,152,843,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,124.36","3,254.88",0,0.0,"4,379.24"
2,2017-2018,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,NaN,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,10/01/2017 12:00:00 AM,168,51,11,106,21,735,35,490,60,185,21,"1,778",84.67,747,175,856,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,187","3,280.1",0,0.0,"4,467.1"
3,2017-2018,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,NaN,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,11/01/2017 12:00:00 AM,169,51,11,107,16,620,38.75,417,53,150,16,"1,385",86.56,611,151,623,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,011.4","2,677.09",0,0.0,"3,688.49"
4,2017-2018,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,ANDERSON,NaN,7,2,Educational Institution,Public,1,CAYUGA H S,ANDERSON,12/01/2017 12:00:00 AM,170,51,10,109,16,584,36.5,400,46,138,16,"1,207",75.44,543,119,545,0,0,0,0,0,0,0,0,0.0,0,0,0,959.74,"2,332.03",0,0.0,"3,291.77"

In [21]:
#drop all columns not needed for analysis (only need quantity of students and quantity that qualifies for free or reduced lunch)
df_3.drop(columns=["ReportType", "CountyDistrictCode", "ESC", "TDARegion", "SiteID", "SiteCounty", "BreakfastDays", "BreakfastTotal", 
                   "BreakfastADP", "BreakfastServedFree", "BreakfastServedReduced", "BreakfastServedPaid", 
                   "LunchDays", "LunchTotal", "LunchADP", "LunchServedFree", "LunchServedReduced",
                   "LunchServedPaid", "SnackDays", "SnackTotal", "SnackADP", "SnackServedFree",
                  "SnackServedReduced", "SnackServedPaid", "MilkDays", "Milktotal", "MilkADP",
                  "MilkServedFree", "MilkServedReduced", "MilkServedPaid", "BreakfastReimbursement",
                  "LunchReimbursement", "SnackReimbursement", "MilkReimbursement"], inplace=True)

In [22]:
#create series of rows for schools only in Travis county
travis_co_3 = df_3.loc[df_3["CECounty"] == "TRAVIS"]

#count the number of districts to match up with ethnicity data for consistency
travis_co_3["CEName"].nunique()

25

In [23]:
travis_co_3.dtypes

ProgramYear           object
CEID                   int64
CEName                object
CECounty              object
TypeOfAgency          object
TypeOfSNPOrg          object
SiteName              object
ClaimDate             object
EnrollmentQty         object
FreeEligibleQty       object
ReducedEligibleQty     int64
PaidEligibleQty       object
TotalReimbursement    object
dtype: object

In [24]:
#replace commas with "" to fix unable to parse string error
travis_co_3 = travis_co_3.replace(',','', regex=True)
travis_co_3.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
75777,2017-2018,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,07/01/2017 12:00:00 AM,569,260,31,278,1847.79
75778,2017-2018,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,08/01/2017 12:00:00 AM,578,280,37,261,7684.41
75779,2017-2018,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,09/01/2017 12:00:00 AM,581,276,37,268,3854.37
75780,2017-2018,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,10/01/2017 12:00:00 AM,582,241,39,302,4958.97
75781,2017-2018,1057,WAYSIDE SCHOOLS,TRAVIS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,11/01/2017 12:00:00 AM,569,224,40,305,5861.59

In [25]:
#change datatypes for quantity and reimbursement columns before perfoming calculations
travis_co_3[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]] = travis_co_3[["EnrollmentQty", "FreeEligibleQty", "PaidEligibleQty", "TotalReimbursement"]].apply(pd.to_numeric)

#check datatypes
travis_co_3.dtypes

ProgramYear            object
CEID                    int64
CEName                 object
CECounty               object
TypeOfAgency           object
TypeOfSNPOrg           object
SiteName               object
ClaimDate              object
EnrollmentQty           int64
FreeEligibleQty         int64
ReducedEligibleQty      int64
PaidEligibleQty         int64
TotalReimbursement    float64
dtype: object

In [26]:
#calcuate enrollment, free qty, reduced qty, paid qty, and total reiumbursement for each school for the entire school year
eligibility_by_school_17_18 = travis_co_3.groupby(["SiteName"]).agg({"ProgramYear": "first", 
                                      "CEID": "first", 
                                      "CEName": "first",
                                      "CECounty": "first",
                                      "TypeOfAgency": "first",
                                      "TypeOfSNPOrg": "first",
                                      "SiteName": "first",
                                      "ClaimDate": "last",
                                      "EnrollmentQty": "mean",
                                      "FreeEligibleQty": "mean",
                                      "ReducedEligibleQty": "mean",
                                      "PaidEligibleQty": "mean",
                                      "TotalReimbursement": "sum",
                                      })

eligibility_by_school_17_18.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,05/01/2018 12:00:00 AM,2745.100000,1397.800000,315.900000,1031.400000,799116.52
ALLISON EL,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,05/01/2018 12:00:00 AM,481.700000,481.700000,0.000000,0.000000,357761.75
ALTERNATIVE LEARNING CTR,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,05/01/2018 12:00:00 AM,151.400000,100.500000,8.400000,42.500000,61382.20
ANDERSON H S,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2018 12:00:00 AM,2022.000000,394.363636,79.181818,1548.454545,169132.67
ANDREWS EL,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2018 12:00:00 AM,459.181818,407.272727,21.545455,30.363636,374724.18

In [27]:
#round all columns that were calculated
rounded_17_18 = eligibility_by_school_17_18.round({"EnrollmentQty": 0,
                                   "FreeEligibleQty": 0,
                                   "ReducedEligibleQty": 0,
                                   "PaidEligibleQty": 0
                                  })

rounded_17_18.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,05/01/2018 12:00:00 AM,2745.0,1398.0,316.0,1031.0,799116.52
ALLISON EL,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,05/01/2018 12:00:00 AM,482.0,482.0,0.0,0.0,357761.75
ALTERNATIVE LEARNING CTR,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,05/01/2018 12:00:00 AM,151.0,100.0,8.0,42.0,61382.20
ANDERSON H S,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,06/01/2018 12:00:00 AM,2022.0,394.0,79.0,1548.0,169132.67
ANDREWS EL,2017-2018,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,06/01/2018 12:00:00 AM,459.0,407.0,22.0,30.0,374724.18

In [44]:
#export to csv
rounded_17_18.to_csv(out_path_3, index=False)

#### 2018 - 2019 Data Cleaning

In [28]:
#import and read csv for 2017 - 2018 data
#columns were initially colapsed, use dispay.max_columns to view all
pd.set_option('display.max_columns', None)
df_4 = pd.read_csv(path_4)
df_4

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (32,35,37,41) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ProgramYear,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,CountyDistrictCode,CECounty,SiteCounty,ClaimDate,EnrollmentQty,FreeEligQty,RedcEligQty,PaidEligQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedRedc,BreakfastServedPaid,LunchDays,LunchTotal,LunchADP,LunchServedFree,LunchServedRedc,LunchServedPaid,SnackDays,SnackTotal,SnackADP,SnacksServedFree,SnacksServedRedc,SnacksServedPaid,MilkDays,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
0,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,Educational Institution,Public,7,2,1,CAYUGA H S,1902.0,ANDERSON,ANDERSON,08/01/2018 12:00:00 AM,184,76,19,89,10,403,40.3,275,52,76,10,941,94.1,409,128,404,0,0,0,0,0,0,0,0,0.0,0,0,0,707.74,"1,907.97",0,0.0,"2,615.71"
1,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,Educational Institution,Public,7,2,1,CAYUGA H S,1902.0,ANDERSON,ANDERSON,09/01/2018 12:00:00 AM,181,73,19,89,19,817,43,548,114,155,19,"1,728",90.95,762,218,748,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,430.53","3,492.16",0,0.0,"4,922.69"
2,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,Educational Institution,Public,7,2,1,CAYUGA H S,1902.0,ANDERSON,ANDERSON,10/01/2018 12:00:00 AM,181,54,16,111,22,"1,001",45.5,566,128,307,22,"1,838",83.55,766,199,873,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,541.93","3,495.46",0,0.0,"5,037.39"
3,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,Educational Institution,Public,7,2,1,CAYUGA H S,1902.0,ANDERSON,ANDERSON,11/01/2018 12:00:00 AM,179,56,16,107,17,776,45.65,441,96,239,17,"1,470",86.47,618,165,687,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,194.47","2,826.9",0,0.0,"4,021.37"
4,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,1,CAYUGA ISD,Educational Institution,Public,7,2,1,CAYUGA H S,1902.0,ANDERSON,ANDERSON,12/01/2018 12:00:00 AM,183,58,15,110,15,635,42.33,393,65,177,15,"1,202",80.13,526,121,555,0,0,0,0,0,0,0,0,0.0,0,0,0,"1,015.49","2,337.34",0,0.0,"3,352.83"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86353,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,6378,"CRISTO REY FORT WORTH CATHOLIC HIGH SCHOOL, INC.",Private Non Profit Organization,Private,11,2,1,Cristo Rey Fort Worth High School at Our Mothe...,220.0,TARRANT,TARRANT,02/01/2019 12:00:00 AM,76,39,3,34,19,162,8.53,80,17,65,19,831,43.74,410,38,383,0,0,0,0,0,0,0,0,0.0,0,0,0,188.68,"1,636.27",0,0.0,"1,824.95"
86354,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,6378,"CRISTO REY FORT WORTH CATHOLIC HIGH SCHOOL, INC.",Private Non Profit Organization,Private,11,2,1,Cristo Rey Fort Worth High School at Our Mothe...,220.0,TARRANT,TARRANT,03/01/2019 12:00:00 AM,76,39,3,34,16,141,8.81,73,13,55,15,634,42.27,303,29,302,0,0,0,0,0,0,0,0,0.0,0,0,0,167.09,"1,218.98",0,0.0,"1,386.07"
86355,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,6378,"CRISTO REY FORT WORTH CATHOLIC HIGH SCHOOL, INC.",Private Non Profit Organization,Private,11,2,1,Cristo Rey Fort Worth High School at Our Mothe...,220.0,TARRANT,TARRANT,04/01/2019 12:00:00 AM,76,40,3,33,20,124,6.2,64,14,46,19,789,41.53,376,41,372,0,0,0,0,0,0,0,0,0.0,0,0,0,149.68,"1,526.53",0,0.0,"1,676.21"
86356,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,6378,"CRISTO REY FORT WORTH CATHOLIC HIGH SCHOOL, INC.",Private Non Profit Organization,Private,11,2,1,Cristo Rey Fort Worth High School at Our Mothe...,220.0,TARRANT,TARRANT,05/01/2019 12:00:00 AM,76,40,3,33,22,163,7.41,93,15,55,20,837,41.85,421,38,378,0,0,0,0,0,0,0,0,0.0,0,0,0,205.87,"1,671.49",0,0.0,"1,877.36"
86357,2018-2019,SCHOOLNUTRITIONPROGRAMCLAIMS,6378,"CRISTO REY FORT WORTH CATHOLIC HIGH SCHOOL, INC.",Private Non Profit Organization,Private,11,2,1,Cristo Rey Fort Worth High School at Our Mothe...,220.0,TARRANT,TARRANT,06/01/2019 12:00:00 AM,76,40,3,33,3,22,7.33,10,0,12,3,192,64,99,9,84,0,0,0,0,0,0,0,0,0.0,0,0,0,21.62,391.44,0,0.0,413.06

In [29]:
#drop all columns not needed for analysis (only need quantity of students and quantity that qualifies for free or reduced lunch)
df_4.drop(columns=["ReportType", "CountyDistrictCode", "ESC", "TDARegion", "SiteID", "SiteCounty", "BreakfastDays", "BreakfastTotal", 
                   "BreakfastADP", "BreakfastServedFree", "BreakfastServedRedc", "BreakfastServedPaid", 
                   "LunchDays", "LunchTotal", "LunchADP", "LunchServedFree", "LunchServedRedc",
                   "LunchServedPaid", "SnackDays", "SnackTotal", "SnackADP", "SnacksServedFree",
                  "SnacksServedRedc", "SnacksServedPaid", "MilkDays", "Milktotal", "MilkADP",
                  "MilkServedFree", "MilkServedReduced", "MilkServedPaid", "BreakfastReimbursement",
                  "LunchReimbursement", "SnackReimbursement", "MilkReimbursement"], inplace=True)

In [30]:
#create series of rows for schools only in Travis county
travis_co_4 = df_4.loc[df_4["CECounty"] == "TRAVIS"]

#count the number of districts to match up with ethnicity data for consistency
travis_co_4["CEName"].nunique()

25

In [31]:
travis_co_4.dtypes

ProgramYear           object
CEID                   int64
CEName                object
TypeOfAgency          object
TypeOfOrg             object
SiteName              object
CECounty              object
ClaimDate             object
EnrollmentQty         object
FreeEligQty           object
RedcEligQty            int64
PaidEligQty           object
TotalReimbursement    object
dtype: object

In [32]:
#replace commas with "" to fix unable to parse string error
travis_co_4 = travis_co_4.replace(',','', regex=True)
travis_co_4.head()

,ProgramYear,CEID,CEName,TypeOfAgency,TypeOfOrg,SiteName,CECounty,ClaimDate,EnrollmentQty,FreeEligQty,RedcEligQty,PaidEligQty,TotalReimbursement
74414,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,07/01/2018 12:00:00 AM,559,293,46,220,1039.93
74415,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,08/01/2018 12:00:00 AM,606,322,46,238,6469.42
74416,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,09/01/2018 12:00:00 AM,609,329,46,234,2254.27
74417,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,10/01/2018 12:00:00 AM,606,301,26,279,7685.56
74418,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,11/01/2018 12:00:00 AM,602,311,26,265,8617.19

In [33]:
#change datatypes for quantity and reimbursement columns before perfoming calculations
travis_co_4[["EnrollmentQty", "FreeEligQty", "PaidEligQty", "TotalReimbursement"]] = travis_co_4[["EnrollmentQty", "FreeEligQty", "PaidEligQty", "TotalReimbursement"]].apply(pd.to_numeric)

#check datatypes
travis_co_4.dtypes

ProgramYear            object
CEID                    int64
CEName                 object
TypeOfAgency           object
TypeOfOrg              object
SiteName               object
CECounty               object
ClaimDate              object
EnrollmentQty           int64
FreeEligQty             int64
RedcEligQty             int64
PaidEligQty             int64
TotalReimbursement    float64
dtype: object

In [34]:
#rename columns to ensure consistency with previous 3 datasets
travis_co_4_renamed = travis_co_4.rename(columns={"TypeOfOrg": "TypeOfSNPOrg",
                            "FreeEligQty": "FreeEligibleQty",
                            "RedcEligQty": "ReducedEligibleQty",
                            "PaidEligQty": "PaidEligibleQty"})

travis_co_4_renamed.head()

,ProgramYear,CEID,CEName,TypeOfAgency,TypeOfSNPOrg,SiteName,CECounty,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
74414,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,07/01/2018 12:00:00 AM,559,293,46,220,1039.93
74415,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,08/01/2018 12:00:00 AM,606,322,46,238,6469.42
74416,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,09/01/2018 12:00:00 AM,609,329,46,234,2254.27
74417,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,10/01/2018 12:00:00 AM,606,301,26,279,7685.56
74418,2018-2019,1057,WAYSIDE SCHOOLS,Educational Institution,Charter,WAYSIDE SCI-TECH MIDDLE AND H S,TRAVIS,11/01/2018 12:00:00 AM,602,311,26,265,8617.19

In [35]:
#calcuate enrollment, free qty, reduced qty, paid qty, and total reiumbursement for each school for the entire school year
eligibility_by_school_18_19 = travis_co_4_renamed.groupby(["SiteName"]).agg({"ProgramYear": "first", 
                                      "CEID": "first", 
                                      "CEName": "first",
                                      "CECounty": "first",
                                      "TypeOfAgency": "first",
                                      "TypeOfSNPOrg": "first",
                                      "SiteName": "first",
                                      "ClaimDate": "last",
                                      "EnrollmentQty": "mean",
                                      "FreeEligibleQty": "mean",
                                      "ReducedEligibleQty": "mean",
                                      "PaidEligibleQty": "mean",
                                      "TotalReimbursement": "sum",
                                      })

eligibility_by_school_18_19

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,05/01/2019 12:00:00 AM,2789.4,1460.8,279.1,1049.5,843048.72
ALLISON EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,05/01/2019 12:00:00 AM,522.7,522.7,0.0,0.0,388620.38
ALTERNATIVE LEARNING CTR,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,05/01/2019 12:00:00 AM,167.2,103.6,6.8,56.8,56917.61
ANDERSON H S,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,05/01/2019 12:00:00 AM,2210.5,478.8,74.9,1656.8,152176.59
ANDREWS EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,05/01/2019 12:00:00 AM,408.4,408.4,0.0,0.0,307881.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WINN EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WINN EL,05/01/2019 12:00:00 AM,264.6,264.6,0.0,0.0,195639.45
WOOLDRIDGE EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOLDRIDGE EL,05/01/2019 12:00:00 AM,551.0,551.0,0.0,0.0,433459.33
WOOTEN EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,WOOTEN EL,05/01/2019 12:00:00 AM,456.9,456.9,0.0,0.0,301125.05
ZAVALA EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZAVALA EL,05/01/2019 12:00:00 AM,298.1,298.1,0.0,0.0,218283.16
ZILKER EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ZILKER EL,05/01/2019 12:00:00 AM,523.3,94.7,20.1,408.5,60858.15

In [36]:
#round all columns that were calculated
rounded_18_19 = eligibility_by_school_18_19.round({"EnrollmentQty": 0,
                                   "FreeEligibleQty": 0,
                                   "ReducedEligibleQty": 0,
                                   "PaidEligibleQty": 0
                                  })

rounded_18_19.head()

,ProgramYear,CEID,CEName,CECounty,TypeOfAgency,TypeOfSNPOrg,SiteName,ClaimDate,EnrollmentQty,FreeEligibleQty,ReducedEligibleQty,PaidEligibleQty,TotalReimbursement
SiteName,,,,,,,,,,,,,
AKINS H S,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,AKINS H S,05/01/2019 12:00:00 AM,2789.0,1461.0,279.0,1050.0,843048.72
ALLISON EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALLISON EL,05/01/2019 12:00:00 AM,523.0,523.0,0.0,0.0,388620.38
ALTERNATIVE LEARNING CTR,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ALTERNATIVE LEARNING CTR,05/01/2019 12:00:00 AM,167.0,104.0,7.0,57.0,56917.61
ANDERSON H S,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDERSON H S,05/01/2019 12:00:00 AM,2210.0,479.0,75.0,1657.0,152176.59
ANDREWS EL,2018-2019,1068,AUSTIN ISD,TRAVIS,Educational Institution,Public,ANDREWS EL,05/01/2019 12:00:00 AM,408.0,408.0,0.0,0.0,307881.49

In [78]:
#export to csv
rounded_18_19.to_csv(out_path_4, index=False)

In [75]:
#create dataframes and output to CSVs for schools only in AISD
AISD_15_16 = rounded_1516[rounded_1516["CEName"] == "AUSTIN ISD"]
AISD_16_17 = rounded_16_17[rounded_16_17["CEName"] == "AUSTIN ISD"]
AISD_17_18 = rounded_17_18[rounded_17_18["CEName"] == "AUSTIN ISD"]
AISD_18_19 = rounded_18_19[rounded_18_19["CEName"] == "AUSTIN ISD"]

In [76]:
#combine dataframes into one
AISD_15_to_19 = pd.concat([AISD_15_16, AISD_16_17, AISD_17_18, AISD_18_19])

In [77]:
#reset index to remove duplicate of SiteName column
AISD_15_to_19 = AISD_15_to_19.reset_index(drop=True)
AISD_15_to_19["SiteName"].nunique()

134

In [78]:
#checks for school name consistency across years(some schools are spelled in a slighty different way by year)
#create dataframe and output to csv to check manually
s = AISD_15_to_19.groupby(["SiteName", "ProgramYear"])["EnrollmentQty"].mean()
school_names_years = s.to_frame()

school_names_years.to_csv("Resources/school_names_years_aisd_check.csv")

In [79]:
#rename Travis, Martin, Norman-Sims, and Garza schools to ensure SiteName consistency for each school year
AISD_15_to_19 = AISD_15_to_19.replace({"SiteName": {"TRAVIS H S": "TRAVIS EARLY COLLEGE H S",
                    "MARTIN J H": "MARTIN MIDDLE",
                    "ROSEDALE": "ROSEDALE SCHOOL",
                    "ROSEDALE DEVELOPMENT CTR.": "ROSEDALE SCHOOL",
                    "NORMAN EL": "NORMAN-SIMS EL", 
                    "GARZA HIGH SCHOOL": "GARZA INDEPENDENCE H S"}}, regex=True)

In [80]:
#convert AISD concat dataframe to CSV
AISD_15_to_19.to_csv("Resources/aisd_meal_reimbursement_years_15_19.csv", index=False)

In [81]:
AISD_15_to_19["SiteName"].nunique()

130